{% extends 'base.html' %}
{% block content %}
<h1>About</h1>
<h4>About us</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam, blanditiis consectetur eaque et, eum excepturi facere harum itaque iure nobis officiis optio placeat quas qui quis quod totam veniam!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam, blanditiis consectetur eaque et, eum excepturi facere harum itaque iure nobis officiis optio placeat quas qui quis quod totam veniam!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam, blanditiis consectetur eaque et, eum excepturi facere harum itaque iure nobis officiis optio placeat quas qui quis quod totam veniam!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam, blanditiis consectetur eaque et, eum excepturi facere harum itaque iure nobis officiis optio placeat quas qui quis quod totam veniam!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam, blanditiis consectetur eaque et, eum excepturi facere harum itaque iure nobis officiis optio placeat quas qui quis quod totam veniam!</p>
{% endblock %}